body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.top-line {
}
.logo-link {
  font-weight: 700;
  text-transform: uppercase;
}
.logo-text {
  font-size: 18px;
  color: #4d5ae5;
}
ul.menu-nav li {
  font-weight: 500;
}

.contact .link:hover {
  color: #404bbf;
}
.contact .link:focus {
  color: #404bbf;
}

.contact-adr {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}
.contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background: #2e2f42;
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.hero-button,
.filt-btn {
  background: #4d5ae5;
  cursor: pointer;
}

.hero-btn-txt {
}

.name-sect .name-group {
  font-weight: 500;
}

.preference-conteiner {
}
.preference-list {
}

.preference-list li {
}

.doing-list {
}
.doing-list li {
}
.doing-conteiner {
}
.team-list {
}

.team-list li {
}
.team-conteiner {
  background: #f4f4fd;
}

.footer-conteiner {
  background: #2e2f42;
  color: #f4f4fd;
}
